<div class="h-12 mb-5 bg-white shadow-sm">
  <h1 class="py-2 pl-4 text-sm">
    Acquisition
  </h1>
</div>




<div class="px-3.5">
  <section class="text-gray-600 bg-white">
    <div class="mx-auto">
      <div class="pt-8 mx-16 overflow-auto">
        <mat-horizontal-stepper linear class=" mx-7" #stepper>
          <mat-step [stepControl]="acquisitionForm">
            <ng-template matStepLabel>
              <span>Acquisition</span>
            </ng-template>
            <form [formGroup]="acquisitionForm" *ngIf="!isLoading">
              <div class="mt-5 grid grid-cols-1">
                <label class="flex items-center justify-between text-xs text-gray-500 capitalize md:text-sm text-light">
                  <span>
                    <span>Select Project: </span>
                    <svg *ngIf="project?.valid" [ngClass]="{ 'text-green-500': project?.valid && (project?.touched || project?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <svg *ngIf="project?.invalid" [ngClass]="{ 'text-red-500': project?.invalid && (project?.touched || project?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                  </span>
                </label>
                <input
                    formControlName="project_id"
                    [matAutocomplete]="auto"
                    [ngClass]="{ 'border-2 border-red-400 focus:ring-2 focus:ring-red-600': (project?.invalid && (project?.touched || project?.dirty)), 'border-2 border-green-400 focus:ring-2 focus:ring-green-600': project?.valid && (project?.touched || project?.dirty) }"
                    class="px-2 py-1 mt-1 border-2 border-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
                    type="search"
                    readonly
                    placeholder="Choose Project" />
                  <mat-autocomplete (optionSelected)="getProjectDetails($event.option.value)" #auto="matAutocomplete" [displayWith]="displayStateProjects" required>
                    <mat-option *ngFor="let project of filteredProjects | async" [value]="project">
                      <span class="text-sm font-bold text-gray-700">
                        <span>{{ project?.process_number_standard }}</span>
                      </span>
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="project?.errors && project?.touched" class="flex text-xs text-red-500 capitalize">
                    <mat-error *ngIf="project?.errors?.required">
                      Project is required
                    </mat-error>
                  </mat-error>
              </div>
              <div class="mt-5 grid grid-cols-1">
                <label class="flex items-center justify-between text-xs text-gray-500 capitalize md:text-sm text-light">
                  <span>
                    <span>Process Number: </span>
                    <svg *ngIf="processNumber?.valid" [ngClass]="{ 'text-green-500': processNumber?.valid && (processNumber?.touched || processNumber?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <svg *ngIf="processNumber?.invalid" [ngClass]="{ 'text-red-500': processNumber?.invalid && (processNumber?.touched || processNumber?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                  </span>
                </label>
                <input
                    formControlName="process_number"
                    [ngClass]="{ 'border-2 border-red-400 focus:ring-2 focus:ring-red-600': (processNumber?.invalid && (processNumber?.touched || processNumber?.dirty)), 'border-2 border-green-400 focus:ring-2 focus:ring-green-600': processNumber?.valid && (processNumber?.touched || processNumber?.dirty) }"
                    class="px-2 py-1 mt-1 border-2 border-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
                    type="text"
                    placeholder="Process Number" />
                <mat-error *ngIf="processNumber?.errors && processNumber?.touched" class="flex text-xs text-red-500 capitalize">
                  <mat-error *ngIf="processNumber?.errors?.required">
                    Process Number is required
                  </mat-error>
                </mat-error>
              </div>
              <div class="mt-5 grid grid-cols-1">
                <label class="flex items-center justify-between text-xs text-gray-500 capitalize md:text-sm text-light">
                  <span>
                    <span>Name of Process: </span>
                    <svg *ngIf="processName?.valid" [ngClass]="{ 'text-green-500': processName?.valid && (processName?.touched || processName?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <svg *ngIf="processName?.invalid" [ngClass]="{ 'text-red-500': processName?.invalid && (processName?.touched || processName?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                  </span>
                </label>
                <input
                    formControlName="process_name"
                    [ngClass]="{ 'border-2 border-red-400 focus:ring-2 focus:ring-red-600': (processName?.invalid && (processName?.touched || processName?.dirty)), 'border-2 border-green-400 focus:ring-2 focus:ring-green-600': processName?.valid && (processName?.touched || processName?.dirty) }"
                    class="px-2 py-1 mt-1 border-2 border-gray-400 rounded focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent"
                    type="text"
                    placeholder="Process Name" />
                <mat-error *ngIf="processName?.errors && processName?.touched" class="flex text-xs text-red-500 capitalize">
                  <mat-error *ngIf="processName?.errors?.required">
                    Process Name is required
                  </mat-error>
                </mat-error>
              </div>
              <div class="flex mt-5 space-x-4">
                <div class="w-1/2 mt-5 grid grid-cols-1">
                  <label class="flex items-center justify-between text-xs text-gray-500 capitalize md:text-sm text-light">
                    <span>
                      <span>Acquisition Process: </span>
                      <svg *ngIf="tenderMethod?.valid" [ngClass]="{ 'text-green-500': tenderMethod?.valid && (tenderMethod?.touched || tenderMethod?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                      <svg *ngIf="tenderMethod?.invalid" [ngClass]="{ 'text-red-500': tenderMethod?.invalid && (tenderMethod?.touched || tenderMethod?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                    </span>
                  </label>
                  <select formControlName="tender_method_id" class="px-2 py-1 mt-1 border-2 border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent">
                    <option label="--select acquisition process --"></option>
                    <option value="{{ acquisitionProcess.id }}" *ngFor="let acquisitionProcess of acquisitionProcesses">{{ acquisitionProcess.title | titlecase}}</option>
                  </select>
                  <mat-error *ngIf="tenderMethod?.errors && tenderMethod?.touched" class="flex text-xs text-red-500 capitalize">
                    <mat-error *ngIf="tenderMethod?.errors?.required">
                      Tender Method is required
                    </mat-error>
                  </mat-error>
                </div>
                <div class="w-1/2 mt-5 grid grid-cols-1">
                  <label class="flex items-center justify-between text-xs text-gray-500 capitalize md:text-sm text-light">
                    <span>
                      <span>Type of Contract: </span>
                      <svg *ngIf="contractType?.valid" [ngClass]="{ 'text-green-500': contractType?.valid && (contractType?.touched || contractType?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                      <svg *ngIf="contractType?.invalid" [ngClass]="{ 'text-red-500': contractType?.invalid && (contractType?.touched || contractType?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                    </span>
                  </label>
                  <select formControlName="contract_type_id" class="px-2 py-1 mt-1 border-2 border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent">
                    <option label="--select contract type --"></option>
                    <option value="{{ contract_type.id }}" *ngFor="let contract_type of contractTypes">{{ contract_type.title | titlecase}}</option>
                  </select>
                  <mat-error *ngIf="contractType?.errors && contractType?.touched" class="flex text-xs text-red-500 capitalize">
                    <mat-error *ngIf="contractType?.errors?.required">
                      Contract Type is required
                    </mat-error>
                  </mat-error>
                </div>
              </div>
              <div class="flex mt-5 space-x-4">
                <div class="w-1/2 mt-5 grid grid-cols-1">
                  <label class="text-xs text-gray-500 capitalize md:text-sm text-light ">Start of Bidding: </label>
                  <input formControlName="bidding_start" class="px-2 py-1 mt-1 border-2 border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent" type="date" placeholder="" />
                </div>
                <div class="w-1/2 mt-5 grid grid-cols-1">
                  <label class="text-xs text-gray-500 capitalize md:text-sm text-light ">Until: </label>
                  <input formControlName="bidding_end" class="px-2 py-1 mt-1 border-2 border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent" type="date" placeholder="" />
                </div>
              </div>

              <div class="flex mt-5 space-x-4">
                <div class="w-1/2 grid grid-cols-1">
                  <label class="flex items-center justify-between text-xs text-gray-500 capitalize md:text-sm text-light">
                    <span>
                      <span>Standard Status: </span>
                      <svg *ngIf="standardStatus?.valid" [ngClass]="{ 'text-green-500': standardStatus?.valid && (standardStatus?.touched || standardStatus?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                      <svg *ngIf="standardStatus?.invalid" [ngClass]="{ 'text-red-500': standardStatus?.invalid && (standardStatus?.touched || standardStatus?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                    </span>
                  </label>

                  <select formControlName="standard_status_id" class="px-2 py-1 mt-1 border-2 border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent">
                    <option label="--Choose Standard Status --"></option>
                    <option value="{{ standardStatus.id }}" *ngFor="let standardStatus of standardStatuses">{{ standardStatus?.name_local| titlecase}}</option>
                  </select>

                  <div *ngIf="standardStatus?.errors && standardStatus?.touched" class="pt-2 text-xs text-red-500 capitalize">
                    <div *ngIf="standardStatus?.errors?.required">
                      Standard Status is required
                    </div>
                  </div>
                </div>

                <div class="w-1/2 grid grid-cols-1" *ngIf="((!_authService.isPublisher() || _authService.isPEAdmin() || _authService.isQCO()) && tender?.status?.id != 2) || _authService.isAdmin()">
                  <label class="flex items-center justify-between text-xs text-gray-500 capitalize md:text-sm text-light">
                    <span>
                      <span>Status: </span>
                      <svg *ngIf="status?.valid" [ngClass]="{ 'text-green-500': status?.valid && (status?.touched || status?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                      <svg *ngIf="status?.invalid" [ngClass]="{ 'text-red-500': status?.invalid && (status?.touched || status?.dirty) }" class="inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                    </span>
                  </label>
                  <select formControlName="status_id" class="px-2 py-1 mt-1 border-2 border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-gray-600 focus:border-transparent">
                    <option label="--choose status --"></option>
                    <option value="{{ status.id }}" *ngFor="let status of statuses">{{ status.title | titlecase}}</option>
                  </select>
                  <div *ngIf="status?.errors && status?.touched" class="pt-2 text-xs text-red-500 capitalize">
                    <div *ngIf="status?.errors?.required">
                      Status is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex justify-end my-4">
               <div class="space-x-4">
                <button type="button" mat-stroked-button [routerLink]="['/dashboard/prequalification']" class="text-gray-800 border border-gray-100">Cancel</button>
                <button type="button" [disabled]="acquisitionForm.invalid" color="primary" (click)="updateAcquisition(acquisitionForm, stepper)" mat-flat-button  class="text-white bg-blue-400">Update Acquisition</button>
               </div>
              </div>
            </form>
            <div *ngIf="isLoading">
              <svg fill="none" viewBox="0 0 24 24" class="w-8 h-8 animate-spin loader-primary"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path></svg>
            </div>
          </mat-step>
          <mat-step [stepControl]="documentFormStep">
            <ng-template matStepLabel>Documents</ng-template>
            <button type="button" (click)="openDocumentDialog()" mat-flat-button  class="text-white dialog-btn">Add Document</button>
            <div *ngIf="documents?.data?.length && !isRequestLoading">
              <app-acquisition-document-list [addedDocuments]="documents" (deleteEvent)="deleteAcquisitionDocument($event)"></app-acquisition-document-list>
            </div>
            <div class="flex justify-end my-4">
              <div class="space-x-4">
               <button type="button" mat-stroked-button matStepperPrevious class="text-gray-800 border border-gray-100">Back</button>
              </div>
             </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </section>

</div>
