@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.bg-white {
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))!important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
