<div class="w-full h-12 mb-5 bg-white shadow-sm">
  <h1 class="py-2 pl-4 text-sm">
    Roles
  </h1>
</div>

<div class="px-3.5">
  <div class="flex items-center justify-between my-2">
    <div class="flex">
      <mat-form-field appearance="outline" class="py-2 my-2">
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter Roles">
      </mat-form-field>
    </div>
    <!-- <button mat-flat-button color="primary" class="px-1 py-1 text-xs text-white border rounded" [routerLink]="['new-role']">+ Create Role</button> -->
  </div>
</div>

<div *ngIf="!isRequestLoading">
  <div class="px-3.5 fade-in" *ngIf="roleDataSource">
    <table mat-table [dataSource]="roleDataSource" matSort class="w-full mat-elevation-z8">

      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let element" class="text-xs"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
        <td mat-cell *matCellDef="let element" class="text-xs"> {{element.name }} </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex space-x-4">
         </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedRoleColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedRoleColumns;"></tr>
    </table>

    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="roleData?.meta?.total"
      [pageSize]="roleData?.meta?.per_page"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex">
    </mat-paginator>

  </div>

</div>

<div *ngIf="isRequestLoading">
  <div class="fixed top-0 left-0 z-50 block w-full h-full bg-white opacity-75">
    <span class="relative block w-0 h-0 mx-auto my-0 text-green-500 opacity-75 top-1/2" style="top: 50%;">
    </span>
    <div class="flex items-center justify-center h-screen">
      <img class="items-center" src="../../../../assets/logo/loader-gif/sisocs-loader.gif" alt="">
    </div>
  </div>
</div>
