.mat-step-icon .mat-step-icon-selected .mat-step-icon-state-edit {
  font-size: 20px !important;
}


.mat-step-icon .mat-step-icon-state-edit .mat-step-icon-selected {
  width: 40px;
  height: 40px;
}
