<ngx-content-loading class="" [speed]="'800ms'" [primaryColor]="'#AEB6BF'" [width]="430" [height]="100"
  [secondaryColor]="'#808B96'">
  <svg:g ngx-rect class="" width="95" height="90" y="10" x="0" rx="4" ry="4"></svg:g>
  <svg:g ngx-rect class="" width="95" height="90" y="10" x="105" rx="4" ry="4"></svg:g>
  <svg:g ngx-rect class="" width="95" height="90" y="10" x="210" rx="4" ry="4"></svg:g>
  <svg:g ngx-rect class="" width="95" height="90" y="10" x="315" rx="4" ry="4"></svg:g>
</ngx-content-loading>

<ngx-content-loading class="" [speed]="'800ms'" [primaryColor]="'#AEB6BF'" [width]="430" [height]="100"
  [secondaryColor]="'#808B96'">
  <svg:g ngx-rect class="" width="95" height="90" y="10" x="0" rx="4" ry="4"></svg:g>
  <svg:g ngx-rect class="" width="95" height="90" y="10" x="105" rx="4" ry="4"></svg:g>
  <svg:g ngx-rect class="" width="95" height="90" y="10" x="210" rx="4" ry="4"></svg:g>
  <svg:g ngx-rect class="" width="95" height="90" y="10" x="315" rx="4" ry="4"></svg:g>
</ngx-content-loading>

<!-- <ngx-content-loading class="mb-2" [speed]="'800ms'" [primaryColor]="'#AEB6BF'"
  [secondaryColor]="'#808B96'">
  <svg:g ngx-rect width="1000" height="100" y="10" x="0" rx="0" ry="0"></svg:g>
</ngx-content-loading>

<ngx-content-loading class="mb-2" [speed]="'800ms'" [primaryColor]="'#e2e8f0'"
  [secondaryColor]="'#edf2f7'">
  <svg:g ngx-rect width="1000" height="100" y="10" x="0" rx="0" ry="0"></svg:g>
  <svg:g ngx-rect width="1000" height="100" y="40" x="0" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="1000" height="100" y="70" x="0" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="1000" height="100" y="100" x="0" rx="5" ry="5"></svg:g>
</ngx-content-loading>
-->
