<div class="flex items-center w-screen h-screen bg-gray-100">
	<div class="container flex flex-col items-center justify-center px-5 text-gray-700 md:flex-row">
   		<div class="max-w-md">
      		<div class="text-5xl font-bold font-dark">404</div>
            <p
              class="text-2xl font-light leading-normal md:text-3xl"
            >Sorry we couldn't find this page. </p>
          <p class="mb-8">Seems you are lost, please go back to the home page.</p>

          <button (click)="goBack()" mat-flat-button color="primary" class="inline px-4 py-2 text-sm font-medium rounded shadow leading-5 ">Go back to homepage</button>
      </div>
  </div>
</div>
