
    <footer class="bg-gray-100 dark:bg-gray-800">
      <div class="container px-6 py-4 mx-auto">
          <div class="lg:flex">
              <div class="w-full -mx-6 lg:w-2/5">
                  <div class="px-6">
                      <div>
                          <a href="#" class="text-xl font-bold text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300">SISOCS DE HONDURAS</a>
                      </div>

                      <p class="max-w-md mt-2 text-gray-500 dark:text-gray-400">
                        Portal para realizar el seguimientode los proyectos de infraestructurapública de las instituciones del Gobierno Central y EmpresasPúblicas de Honduras.
                      </p>
                  </div>
              </div>

              <div class="mt-6 lg:ml-4 lg:mt-0 lg:flex-1 justify-items-end">
                  <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4 justify-items-end">
                      <div>
                        <div>
                          <a href="#" class="text-xl font-bold text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300">DOCUMENTOS</a>
                      </div>

                          <a target="_blank" href="https://sisocs-9694a.web.app/#" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Política de publicación</a>
                          <a target="_blank" href="https://sisocs-9694a.web.app/#" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Manual de usuario</a>
                          <a target="_blank" href="http://transparencia.scgg.gob.hn/descargas/temp_files/decretos/Decreto-Ejecutivo-PCM-02-2015.pdf" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Decreto ejecutivo</a>
                      </div>

                      <div>
                        <div>
                          <a href="#" class="text-xl font-bold text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300">ENLACES</a>
                      </div>

                          <a target="_blank" href="http://www.contratacionesabiertas.gob.hn/" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">Portal de Contrataciones Abiertas</a>
                          <a target="_blank" href="https://sisocs-9694a.web.app/#" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">HonduCompras
                          </a>
                          <a target="_blank" href="http://infras-hn.org/" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">InfraS</a>
                          <a target="_blank" href="https://app.sisocs.org/index.php?r=Ciudadano/index" class="block mt-2 text-sm text-gray-600 dark:text-gray-400 hover:underline">SISOCS APP</a>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      <hr>
      <div>
        <div class="w-full flex justify-center text-sm">
          <div class="mr-4" >

          <a target="_blank" class="my-3 block flex" href="http://creativecommons.org/licenses/by/4.0/">
            <span><img width="24px"  src="../../../../assets/cc.png"></span>

            <span>
              Este obra está bajo una licencia de Creative Commons Reconocimiento 4.0 Internacional.
            </span>
            </a>
          </div>
          <div >

              <a target="_blank" class="my-3 block flex" href="https://github.com/CoST-International/Sisocs.org">
                <span>
                  <img width="24px" src="../../../../assets/github.png">
                </span>
                <span>
                  Enlace al código fuente de Sisocs
                </span>
              </a>
          </div>
        </div>
      </div>
  </footer>




